extends layout

block content
  h1= title
  p
    | For informasjon om dette systemet, se
    | <a href="https://github.com/blindernuka/billettskriver">https://github.com/blindernuka/billettskriver</a>
  p Navn på denne skriveren: #{printername}
